body{
    background: rgb(87, 49, 192);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background:black;
    padding: 20px;
    /*margin: 20px 40px 10px 50px;*/
}
section{
    background: blue;
    color: gray;
    padding:10px;
    display: flex;
    flex-direction: row;
    /*row, column, column-reverse, row-reverse*/
}
div{
    background: pink;
    /*display: block*/
    /*display: inline*/
    /*display: inline-block;*/
    margin: auto;
    width: 400px;
    height: 300px;

}
footer{
    background: black;
    padding:10px 20px;
}
ul{
    margin:0;
    padding:0;
    list-style-type: none;
}
li{
    display: inline-block;
    margin-right: 20px;
}